<div class="card container mt-5 p-4">
  <div [formGroup]="form">
    <div class="row">
      <div class="col-4">
        <select name="method" class="form-control" (change)="changeMethod($event)">
          <option *ngFor="let option of methods">{{ option }}</option>
        </select>
      </div>
      <div class="col-8 btn-perfiles">
        <button class="btn btn-info" (click)="toggleProfiles()">Perfil</button>
      </div>
      <div class="col-12 mt-2">
        <input type="text" formControlName="tokenRc" placeholder="TOKEN RC" class="form-control" />
      </div>

      <div class="col-12 mt-2">
        <input type="text" formControlName="tokenApim" placeholder="TOKEN APIM" class="form-control" />
      </div>

      <div class="col-12 mt-3">
        <input type="text" formControlName="url" placeholder="URL" class="form-control" />
      </div>

      <div
        class="col-12 mt-3"
        *ngIf="this.form.get('method').value == 'POST' || this.form.get('method').value == 'PUT'"
      >
        <textarea type="text" formControlName="body" placeholder="BODY" class="form-control"></textarea>

        <div class="row" *ngIf="false">
          <div class="col-4 mt-3">
            <input type="text" formControlName="key" placeholder="Campo" class="form-control" />
          </div>
          <div class="col-8 mt-3">
            <button class="btn btn-primary" (click)="addField()">+</button>
          </div>
        </div>

        <div *ngFor="let key of fields">
          <div class="row">
            <div class="col-4 mt-3">
              <input type="text" placeholder="key" [value]="key" class="form-control" disabled />
            </div>
            <div class="col-6 mt-3">
              <input type="text" placeholder="Value" formControlName="value" class="form-control" />
            </div>
            <div class="col-2 mt-3">
              <button class="btn btn-danger btn-block" (click)="removeField(campo)">-</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <button class="btn btn-primary btn-block" (click)="processRequest()" [disabled]="form.invalid">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2 container" *ngIf="response || responseError">
  <div class="header"></div>
  <div class="container" *ngIf="response">
    <ngx-json-viewer [json]="response"></ngx-json-viewer>
  </div>

  <div class="container" *ngIf="responseError">
    <ngx-json-viewer [json]="responseError"></ngx-json-viewer>
  </div>
</div>

<div class="card container mt-3 p-4" *ngIf="showProfiles">
  <div [formGroup]="form" class="row">
    <div class="col-4">
      <button class="btn btn-primary" (click)="saveProfile()">Guardar</button>
    </div>
  </div>

  <div class="list-group mt-2"></div>
  <h6>Pulsa para cargarlo</h6>
  <a *ngIf="profiles" (click)="loadProfile()" class="list-group-item list-group-item-action noCursor">{{ profiles.url }}</a>
</div>
