/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(53, 52, 52);
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
    background: #3872f0;
}